/*-----------------------------------------------------------------------------
 *           FONT FACE            
 *---------------------------------------------------------------------------*/
@font-face {
  font-family: 'Stag-Medium';
  src: url('../fonts/Stag/Stag-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Stag-Book';
  src: url('../fonts/Stag/Stag-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Stag-Ligth';
  src: url('../fonts/Stag/Stag-Ligth.otf') format('opentype');
}

@font-face {
  font-family: 'Stag-Semibold';
  src: url('../fonts/Stag/Stag-Semibold.otf') format('opentype');
}

body {
  font-family: 'Stag-Book';
}

/*-----------------------------------------------------------------------------
 *           Headers            
 *---------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 16px 20px 13px;
}
 
h1 {
  font-size: 0;  
  padding: 0;
}

h2 {
  font-size: 15px;  
}

h3 {
  font-size: 22px;  
}

h4 {
  font-size: 13px;  
}

h5 {
  font-size: 12px;  
}

/*-----------------------------------------------------------------------------
 *           Links Status            
 *---------------------------------------------------------------------------*/
a:link {
  
}

a.visited,
a:visited {
  
}

a:focus {
  
}

a:hover {
  
}

a.active,
a:active {
  
}

/* CLEARFIX */
.form:before,
.form:after,
.pager:before,
.pager:after,
.clearfix:after,
.clearfix:before,
.views-row:after,
.views-row:before,
.fieldset-wrapper:after,
.fieldset-wrapper:before,
.fieldset-wrapper .field:after, 
.fieldset-wrapper .field:before {
  content: " ";
  display: table;
}

.form:after,
.pager:after,
.clearfix:after,
.views-row:after,
.fieldset-wrapper:after,
.fieldset-wrapper .field:after {
  clear: both;
}

.form,
.pager,
.clearfix,
.views-row,
.fieldset-wrapper,
.fieldset-wrapper .field {
  *zoom: 1;
}

/*-----------------------------------------------------------------------------
 *           COMMONS 
 *---------------------------------------------------------------------------*/

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clear {
  clear: both;
}

.pager {
  display: block;
  margin: 34px 0 25px !important;
}

.pager li {
  display: block;
  float: left;
  list-style: none;
}

.pager-current,
.pager li a {
  background: #808285;
  color: #FFF;
  float: left;
  line-height: 1;
  margin-right: 12px;
  padding: 10px 15px;
}

.pager-current {
  background: #ccc;
}

.pager a:hover {
  background: #ccc;
  text-decoration: none;
}

/*-----------------------------------------------------------------------------
 *           GENERIC TAGS            
 *---------------------------------------------------------------------------*/

blockquote {
  background: #e1f2f8;
  border-left: 5px solid #237A98;
  font-style: italic;
  padding: 8px 20px;
}

em {
  color: #000;
}

strong {
  font-weight: 800;
}

q,
cite {
  font-style: italic;
}

samp {
  color: #d13333;
}

kbd {
  color: #777;
}

abbr,
acronym {
  text-transform: uppercase;
}

pre {
  overflow: auto;
}

/* List */

ul, ol, dl {
  margin-left: 20px;
}

ul li {
  list-style: disc;
}

ol li {
  list-style: decimal;
}

dl {
  padding: 5px 0 10px;
}

dt {
  padding-bottom: 5px;
  text-decoration: underline;
}

p {
  font-size: 11px;
  padding-bottom: 5px;
  text-align: justify;
}

.field {
  padding: 5px 0;
}

blockquote p {
  margin-bottom: 0;
}

/* Tables */

table {
  margin: 5px 0;
  overflow-x: auto;
  width: 100%;
}
      
td, 
th, 
caption {
  border: 1px solid #242323;
  color: #7A7878;
  padding: 5px 8px;
}

caption {
  background: #000;
  color: #FFF;
  border-bottom: 3px solid #3A3A3A;
}

th {
  background: #616161;
  color: #FFF;
}

tr.even, tr.odd {
  background: #fff;
}

/* Tabs */
.tabs {
  border-bottom: 0;
  display: block;
  height: 22px;
  margin: 0;
  padding-top: 5px;
  text-align: right;
}

.tabs li {
  display: inline;
  list-style: none;
  padding: 0 5px;
}

.tabs a {
  border: 2px solid #ccc;
  font-size: 100%;
  padding: 3px 8px;
}

.tabs a:hover {
  border-color: #aaa;
}

/*-----------------------------------------------------------------------------
 *           Form
 *---------------------------------------------------------------------------*/
  
.form-actions {
  margin-top: 15px;
}
    
form {
  clear: both;
  display: block;
  margin: 20px 0;
}
          
.form-item {
  margin: 5px 0 15px;
}

.form-type-radio, 
.form-type-checkbox {
  margin: 15px 0;
}

form label {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 10px;
}
                      
form label.error {
  font-weight: normal;
  padding-top: 3px;
}

.form-type-radio label, 
.form-type-checkbox label {
  display: inline;
  font-weight: normal;
  padding-bottom: 5px;
  padding-left: 3px;
}

.form-text, 
.form-select, 
.form-textarea {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background: #fff;
  border: 1px solid #B8B3AE;
  clear: both;
  color: #808080;
  display: inline-block;
  margin-bottom: 10px;
  min-width: 200px;
  padding: 3px;
}

input.form-checkbox,
input.form-radio {
  margin-right: 5px;
}

.form-item .description {
  padding-top: 5px;
}

input.error, 
textarea.error {
  border: 1px solid #AB0000;
}

.form-required {
  display: none;
}

.form-required {
  color: red;
  padding-right: 5px;
}

.form-submit {
  background: #ebebeb;
  border: 1px solid #cdcdcd;
  color: #555555;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  height: 30px;
  padding: 5px 10px;
}

.form-submit:hover {
  filter: alpha(opacity=85);
  opacity: 0.85;
}

.grippie {
  display: none !important;
}

/*-----------------------------------------------------------------------------
 *           ACCESS PAGE            
 *---------------------------------------------------------------------------*/
#block-bean-bloque-de-presentacion {
  float: right;
}

#block-bean-bloque-de-presentacion .field-name-field-presentation-block-image {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}

#user-login {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 15px #A09898;
  clear: none;
  float: left;
  margin-top: 0;
  padding: 34px 24px;
  width: 33.33333333%;
}

#user-login label {
  color: #808285;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 7px;
}

#user-login input {
  border: #808285 1px solid;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

#edit-remember-me {
  width: auto !important;
}

#user-login .form-item-remember-me label {
  font-weight: normal;
}

#user-login .form-submit {
  background: url('../img/bg_button.png') repeat-x #24a3b4;
  border: 1px solid #24a3b4;
  border-radius: 5px;
  color: #FFF;
  font-family: 'Arial';
  font-size: 16px;
  height: auto;
  padding: 11px 0;
  width: 40%;
}

#user-login .description {
  display: none;
}

.main-content-not-logged-in .block > .content { 
  background: #fafafa;
  border-bottom: 2px solid #cfcfcf;
  padding: 1% 6% 2.8%;
}

.main-content-not-logged-in .block h3 { 
  background: #fafafa;
  border-radius: 0;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  padding-top: 2.8%;
  padding-left: 6%;
}

/*-----------------------------------------------------------------------------
 *           PROFILE            
 *---------------------------------------------------------------------------*/
.main-content-not-logged-in .sidebar #block-views-users-block-user-photo > .content {
  border: none;
  padding: 0;
}

.main-content-not-logged-in .sidebar #block-views-users-block-user-photo > .content img {
  height: auto;
  width: 100%;
}

.page-user fieldset {
  border: none;
  margin-bottom: 22px;
  padding: 0;
}

#block-views-users-block-user-photo {
  background: #f7f7f7;
  box-shadow: 0 0 10px 0 #BDBDBD;
  padding: 5px;
}

#block-views-users-block-user-photo h4 {
  background: #f7f7f7;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding: 15px 10px 5px;
  text-align: center;
  text-transform: uppercase;
}

.page-user fieldset .fieldset-title {
  background: url('../img/user_accordion.png') #99c89c no-repeat 100% center;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  display: block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1; 
  text-transform: uppercase;
}

html.js fieldset.collapsed {
  height: auto;
}

.page-user fieldset .fieldset-legend {
  background: #99c89c;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  display: block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1; 
  padding: 30px 25px 25px;
  text-transform: uppercase;
}

.page-user fieldset.collapsed .fieldset-title {
  background: url('../img/user_accordion_active.png') #99c89c no-repeat 100% center;
}

.page-user-edit fieldset .fieldset-legend,
.page-user-edit fieldset .fieldset-title {
  padding: 1.5% 2.5% 1%;
}

.page-user fieldset .fieldset-title:hover {
  text-decoration: none;
}

.page-user fieldset legend {
  width: 100%;
}

.page-user fieldset .fieldset-wrapper {
  background: #f7f7f7;
  padding: 2.5%;
}

.page-user .fieldset-wrapper .field-label {
  float: left; 
  width: 40%;
}

.page-user .fieldset-wrapper .field-items {
  float: left; 
  width: 60%;
}

.page-user .fieldset-wrapper .field-items li {
  list-style: none;
}

.page-user-edit fieldset fieldset .fieldset-legend {
  font-size: 16px;
  padding: 13px;
}

.page-user-edit fieldset fieldset {
  margin-top: 35px;
}

.page-user-edit fieldset fieldset .fieldset-wrapper {
  border: 1px solid #99c89c;
  padding: 0 1.5% 1%;
}

.container-inline-date .date-padding {
  padding: 1%;
}

.form-item-duser .description,
.form-item-language .description,
.form-item-timezone .description,
.field-name-field-user-belongs-to .description,
.field-name-field-user-department .description,
.page-user-edit fieldset fieldset .description {
  margin-bottom: 0 !important;
}

.field-name-field-user-belongs-to select,
.field-name-field-user-department select {
  margin-right: 15px;
}

.page-user-edit .chosen-container-single {
  border: none; 
  padding: 0;
}

#user-profile-form {
  margin-top: 0;
}

#edit-account,
#user-profile-form > div > .form-type-textfield {
  background: #f7f7f7;
  margin-bottom: 20px;
  padding: 3% 5%;
}

.page-user-edit form label {
  width: 20%;
}

.page-user-edit #edit-account label {
  color: #99c89c;
  font-size: 16px;
  width: 35%;
}

.page-user-edit .form-item .description {
  color: #716D6D;
  font-family: Arial;
  font-size: 12px;
  margin-bottom: 35px;
}

.page-user-edit .form-item {
  margin: 5px 0 0;
}

.page-user-edit .form-text, 
.page-user-edit .form-select, 
.page-user-edit .form-textarea {
  font-family: 'Arial';
  margin-bottom: 5px;
  padding: 6px;
}

.page-user-edit .form-type-radio label, 
.page-user-edit .form-type-checkbox label {
  font-family: 'Arial';
}

.page-user-edit .user-picture {
  float: left;
  margin-right: 30px;
}

.page-user-edit .element-invisible {
  padding: 0;
  width: auto;
}

/*-----------------------------------------------------------------------------
 *           MAIN STRUCTURE            
 *---------------------------------------------------------------------------*/
.main-content > .container {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 15px #A09898;
  padding: 50px 46px;
}

.logo-wrapper {
  padding-bottom: 65px;
}

.relative {
  position: relative;
}

.region-header-top {
  float: right;
}

#block-clock-clock {
  color: #FFF;
  float: left;
  left: 0;
  padding: 10px 0;
  position: absolute;
}

.header-top {
  background: #bdbfc1;
  margin-bottom: 52px;
}

.header-top time {
  color: #FFF;
  display: block;
  font-size: 14px;
  padding: 10px 0;
}

.header-top .field-name-field-link-block-link {
  padding: 3px 0;
}

#block-bean-aula-virtual {
  float: left;
}

#block-bean-aula-virtual .field a {
  background: #3d3d3d;
  border-radius: 7px;
  color: #FFF;
  display: block;
  font-size: 14px; 
  line-height: 1;
  margin: 4px 0;
  padding: 6px 15px;
}

/* BLOCK LOGIN USER */
.block-user .form-item {
  float: left;
  font-size: 12px;
  padding: 0 10px;
  margin: 0;
}

.block-user label {
  color: #a9a9a9;
  font-size: 12px;
}

.block-user .item-list {
  display: none;
}

.block-user .form-actions {
  float: left;
  margin: 0 0 0 9px;
}

.block-user .form-text, 
.block-user .form-select, 
.block-user .form-textarea {
  background: #fcfcfc;
  color: #a9a9a9;
  margin: 0;
  padding: 5px 10px;
}

#block-views-general-links-block-link-home {
  float: left;
  padding: 3px 7px;
}

#block-views-users-block-user-information {
  float: left;  
  margin-right: 15px;
}

#block-views-users-block-user-information .user-picture {
  float: left;  
}

.wrapper-info-user {
  background: #727376;
}

.wrapper-info-user .username {
  background: #727376;
  color: #FFF;
  display: block;
  float: left;
  font-size: 14px;
  padding: 10px 15px;
}

.user-option {
  background: #191919;
  cursor: pointer;
  display: none;
  padding: 15px;
  position: absolute;
  z-index: 10;
}

.user-option a {
  color: #FFF;
  font-size: 14px;
}

.user-button-option {
  background: url('../img/arrow_user.png') no-repeat center center;
  cursor: pointer;
  display: block;
  float: left;
  padding: 20px;
}

#block-views-users-block-user-information .user-picture img {
  height: 40px;
  width: 45px;
}

#block-views-b1aaeabb6ab07ad6a7b0b7c72ac36204 {
  margin-bottom: 28px;
}

#block-views-b1aaeabb6ab07ad6a7b0b7c72ac36204 h3 {
  background: transparent;
  color: #282425;
  font-family: 'Arial';
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: center;
}

.block h3 {
  background: #99C89C;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  line-height: 1; 
  padding: 13px 20px;
}

.block h3 a {
  color: #FFF;
}

.block h3 a:hover {
  color: #D5D5D5;
  text-decoration: none;
}

.page-sitemap .main-title,
.page-node .main-title {
  font-size: 30px;
  line-height: 1;
  padding: 16px 0 30px;
  text-transform: uppercase;
}

.node-type-webform .node {
  background: #f7f7f7;
  border: 1px solid #99c89c;
  border-radius: 10px 10px 0 0;
}

.page-node.not-front .node h3 {
  background: #99c89c;
  border-radius: 8px 8px 0 0;
  color: #FFF;
  font-size: 20px;
  line-height: 1;
  padding: 15px 40px;
}

.node-type-webform .node form {
  padding: 10px 70px 50px;
}

.node-type-webform form .form-item label {
  font-size: 18px;
  width: 20.5%;
}

.node-type-webform form .form-item label:after {
  content: ':';
}

.node-type-webform .node .field-name-field-webform-description {
  padding: 0;
}

.node-type-webform .form-actions {
  padding-top: 20px;
  text-align: right;
}

.node-type-webform .form-select, 
.node-type-webform .form-textarea,
.node-type-webform .form-text {
  background: #f9f9f9;
  border: 1px solid #808285;
  border-radius: 5px;
  padding: 8px;
}

.node-type-webform .form-select, 
.node-type-webform .form-text {
  width: 79%;
}

.node-type-webform .form-textarea {
  height: 200px;
}

.node-type-webform input[readonly="readonly"] {
  background: transparent;
  border: none;
}

.node-type-webform .main-content .form-actions .form-submit {
  background: url('../img/bg_button.png') repeat-x;
  border: 1px solid #24a3b4;
  border-radius: 5px;
  color: #FFF;
  font-family: 'Arial';
  font-size: 16px;
  height: auto;
  padding: 11px 35px;
}

/*-----------------------------------------------------------------------------
 *           HEADER            
 *---------------------------------------------------------------------------*/
.header {
  background: url('../img/bg_menu.png') repeat-x;
}

.header .menu {
  margin: 0;
}

.header .menu li {
  border-left: 1px solid #ff2e45;
  border-right: 1px solid #af1726;
  display: block;
  float: left;
}

.header .menu li a {
  color: #FFF;
  display: block;
  padding: 12px;
}

/*-----------------------------------------------------------------------------
 *           FLEXSLIDER            
 *---------------------------------------------------------------------------*/
.flexslider {
  background: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,.2);
  -o-box-shadow: 0 0 0 rgba(0,0,0,.2);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  height: auto !important;
  margin-bottom: 15px;
  padding: 0;
}

.flex-control-nav {
  bottom: 0;
  right: 0;
  text-align: right;
  z-index: 2;
}

.flex-control-paging li a {
  border-radius: 0;
  color: #FFF;
  font-size: 18px;
  height: 32px;
  padding: 5px 10px 2px;
  width: 30px;
}

.flex-control-paging li a:hover {
  text-decoration: none;
}

.flex-control-paging li a.flex-active:hover {
  background: rgba(220, 0, 26, 0.77);
}

.flex-control-nav li {
  margin: 0 1px 0 0;
}

.flex-control-paging li a.flex-active {
  background: #dc001a;
  background: rgba(220, 0, 26, 0.54);
}

.front #first-time, 
.front .main-title {
  display: none;
}

.view {
  background: #FFF;
}

.view ul {
  margin: 0;
}

.view li {
  list-style: none;
}

/*-----------------------------------------------------------------------------
 *           CAPACITY BUILDING 
 *---------------------------------------------------------------------------*/
.capacity_logo {
  display: block;
  height: auto;
  margin: 0 auto 25px;
  width: 700px;
}

.notfront_capacity_logo {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.view-capacity-building img {
  height: auto;
  width: 100%;
}

.view-capacity-building a:hover {
  text-decoration: none;
}

.view-capacity-building h2 {
  color: #FFF;
  font-size: 22px;
  font-family: 'Stag-Medium';
  line-height: 1;
  padding: 12px 15px;
}

.view-capacity-building p {
  color: #FFF;
  margin: 0 15px;
}

.view-capacity-building .more-info {
  background: #b7be32;
  border-radius: 10px;
  color: #FFF;
  display: block;
  float: left;
  font-size: 16px;
  line-height: 1;
  margin: 25px 20px 30px;
  padding: 10px 15px;
  opacity: 0;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}
                    
.view-capacity-building .views-field:hover .more-info {
  opacity: 1;
}

.block-views .view-capacity-building .views-row {
  margin-bottom: 2px;
  padding: 0 1px;
}

.block-views .view-capacity-building .views-row .capacity-inner-container {
  background: #653074; 
  height: 187px;
}

.block-views .view-capacity-building .views-row-2 .capacity-inner-container {
  background: #f26b45;
}

.block-views .view-capacity-building .views-row-3 .capacity-inner-container {
  background: #94c4cc;
}

.block-views .view-capacity-building .views-row-4 .capacity-inner-container {
  background: #b0b81c;
}

/*-----------------------------------------------------------------------------
 *           PUBLISHES AND RESOURCES            
 *---------------------------------------------------------------------------*/
.block-views .view-publishes-and-resources-views {
  padding: 30px;
}

.block-views .view-publishes-and-resources-views .views-row {
  height: 100px;
}

.block-views .view-activities-views .views-row > .views-field-nothing {
  display: block;
  float: left;
  height: 100%;
  line-height: 15px;
  padding: 15px 10px;
  position: relative;
  text-align: center;
  width: 56px;
}

.block-views .view-activities-views .date-display-single {
  font-size: 28px;
}

.block-views .view-activities-views .date-display-single:nth-of-type(2) {
  font-size: 17px;
}

.block-views .view-publishes-and-resources-views h4 {
  color: #000;
  float: right;
  font-size: 14px;
  min-height: 56px;
  padding: 0 33px 0 68px;
  width: 225px;
}

.block-views .view-publishes-and-resources-views h4 a {
  color: #000;
}

.publish .counter-link {
  display: none;
}

.resource-document {
  position: relative;
}

.counter-link {
  background: rgb(135, 205, 222);
  border-radius: 25px;
  color: #FFF;
  padding: 2px 5px;
  position: absolute;
  right: 20px;
  top: 0;
}

.view-resources .file,
.block-views .view-publishes-and-resources-views .file {
  display: block;
}

.view-resources .file img,
.view-resources .embed-icon iframe,
.view-publishes-and-resources-views .embed-icon iframe,
.view-publishes-and-resources-views .file img {
  display: none !important;
}

.view-resources .link-icon {
  background: url('../img/resource/big_link_icon.png') no-repeat center center;
  display: block;
  height: 78px;
  text-indent: -9999px;
}

.view-publishes-and-resources-views .link-icon {
  background: url('../img/resource/link_icon.png') no-repeat;
  display: block;
  height: 48px;
  text-indent: -9999px;
}

.view-resources .embed-icon {
  background: url('../img/resource/big_embed_icon.png') no-repeat center center;
  display: block;
  height: 78px;
  text-indent: -9999px;
}

.view-publishes-and-resources-views .embed-icon {
  background: url('../img/resource/embed_icon.png') no-repeat;
  display: block;
  height: 48px;
  text-indent: -9999px;
}

.view-resources a[type*="video"] {
  background: url('../img/resource/big_video_icon.png') no-repeat center;
  display: block;
  height: 78px;
  text-indent: -9999px;
}

.view-publishes-and-resources-views a[type*="video"] {
  background: url('../img/resource/video_icon.png') no-repeat;
  display: block;
  height: 48px;
  text-indent: -9999px;
}

.view-resources a[type*="document"] {
  background: url('../img/resource/big_doc_icon.png') no-repeat center center;
  display: block;
  height: 78px;
  text-indent: -9999px;
}

.view-publishes-and-resources-views a[type*="document"] {
  background: url('../img/resource/doc_icon.png') no-repeat;
  display: block;
  height: 48px;
  text-indent: -9999px;
}

.view-resources a[type*="pdf"] {
  background: url('../img/resource/big_pdf_icon.png') no-repeat center center;
  display: block;
  height: 78px;
  text-indent: -9999px;
}

.view-publishes-and-resources-views a[type*="pdf"] {
  background: url('../img/resource/pdf_icon.png') no-repeat;
  display: block;
  height: 48px;
  text-indent: -9999px;
}

.view-resources a[type*="audio"] {
  background: url('../img/resource/big_audio_icon.png') no-repeat center center;
  display: block;
  height: 78px;
  text-indent: -9999px;
}

.view-publishes-and-resources-views a[type*="audio"] {
  background: url('../img/resource/audio_icon.png') no-repeat;
  display: block;
  height: 48px;
  text-indent: -9999px;
}

/* RESOURCES */
.page-publicaciones .main-content > .container,
.page-recursos .main-content > .container {
  border: none;
  box-shadow: 0 0 0;
  padding: 0;
}

.page-poll .main-content,
.page-node .main-content,
.page-search .main-content,
.page-recursos .main-content,
.page-actividades .main-content,
.page-publicaciones .main-content {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 15px #A09898;
  padding: 50px 46px;
}

.page-programas .main-content {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 15px #A09898;
  padding: 0 0 50px;
}
  
#block-views-exp-resources-page,
#block-views-cf46b404572d9fa9e07f7d5ec92b99e0,
#block-views-resources-block-resources {
  margin-bottom: 23px;
}

.page-recursos .main-title,
.page-publicaciones .main-title,
#block-views-resources-block-resources h3, 
#block-views-cf46b404572d9fa9e07f7d5ec92b99e0 h3, 
#views-exposed-form-publish-views-page .views-exposed-widget > label,
#block-views-exp-resources-page .views-exposed-widget > label {
  background: #d1da21;
  border-radius: 8px 8px 0 0;
  color: #FFF;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding: 15px 40px;
}

#views-exposed-form-publish-views-page .views-exposed-widget > label,
#block-views-exp-resources-page .views-exposed-widget > label {
  padding: 6% 16% !important;
}

.bef-tree >ul {
  margin-left: 10%;
}

.page-recursos .view-resources {
  border: 1px solid #d1da21;
}

.page-recursos .inner-container .view-resources .views-row {
  border-bottom: #808285 1px solid;
  margin-bottom: 15px;
  min-height: 110px;
  padding: 15px 0;
}

.page-recursos .inner-container .view-resources .views-row-last {
  border-bottom: none;
}

.page-recursos .inner-container .view-resources h4 {
  padding-top: 0;
}

.page-recursos .inner-container .view-resources h4 a {
  color: #000;
  font-family: 'Arial';
  font-size: 16px;
}

.page-recursos .inner-container .view-resources h4 a:hover {
  color: #b0b81c;
  text-decoration: none;
}

.page-recursos .inner-container .view-resources .file,
.page-recursos .inner-container .view-resources .link-icon,
.page-recursos .inner-container .view-resources .embed-icon {
  float: left;
  width: 20%;
}

.page-recursos .inner-container .view-resources .file a,
.page-recursos .inner-container .view-resources .link-icon,
.page-recursos .inner-container .view-resources .embed-icon {
  background-position: center left !important;
}

.page-recursos .inner-container .view-resources .item-list {
  padding: 30px 40px 0;
}

#block-views-exp-publish-views-page .views-exposed-widget,
#block-views-exp-resources-page .views-exposed-widget {
  background: #f2f2f2;
  border-radius: 5px 5px 0 0;
}

#block-views-exp-publish-views-page .views-exposed-widget .views-widget,
#block-views-exp-resources-page .views-exposed-widget .views-widget {
  border: 1px solid #d1da21;
  padding: 9.5% 7.5%;
}

#block-views-exp-publish-views-page .views-exposed-widget .views-widget, 
#block-views-exp-resources-page .views-exposed-widget .views-widget {
  margin-left: 9.5% 7.5%;
}

.bef-tree,
#block-views-exp-resources-page .bef-tree {
  margin: 0;
}

#block-views-exp-publish-views-page label,
#block-views-exp-resources-page label {
  font-size: 14px;
  font-weight: normal;
  padding-left: 18px;
  padding-bottom: 18px;
}

#block-views-exp-publish-views-page input,
#block-views-exp-resources-page input {
  height: 18px;
  width: 18px;
}

#block-views-exp-publish-views-page .bef-tree-child ul,
#block-views-exp-resources-page .bef-tree-child ul {
  margin-left: 0;
}

#block-views-exp-publish-views-page .bef-tree-child ul li label:before,
#block-views-exp-resources-page .bef-tree-child ul li label:before {
  content: '-';
}

#block-views-exp-publish-views-page li,
#block-views-exp-resources-page li {
  list-style: none;
}

#block-views-resources-block-resources .view-resources {
  background: #eee;
  padding: 25px 50px;
}

#block-views-resources-block-resources h4 {
  font-size: 14px;
  padding: 10px 0;
}

#block-views-resources-block-resources h4 a {
  color: #000;
  font-weight: bold;
}

#block-views-resources-block-resources h4 a:hover {
  color: #d1da21;
  text-decoration: none;
}

#block-views-resources-block-resources .view-resources li {
  text-align: center;
  width: 20%;
}

/* PUBLICACIONES */
.inner-container .view-publish-views{
  padding: 50px 18px;
}

.inner-container .view-publish-views h3 a {
  color: #000;
  display: block;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.view-publish-views {
  border: 1px solid #d1da21; 
  padding: 4.5% 7.5% 2%;
}

.page-publicaciones .view-publish-views .views-row > a {
  display: block;
}

.page-publicaciones .inner-container .view-publish-views .views-row {
  height: 250px;
}

.view-publish-views .views-row h4 a {
  color: #000;
  display: block;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  text-align: center;
}

.inner-container .view-publish-views h3 a:hover,
.view-publish-views .views-row h4 a:hover {
  color: #b0b81c; 
  text-decoration: none;
}

.view-publish-views .views-row a img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 30%;
}

.special-main-title {
  display: none;
}

.page-poll .main-title,
.page-user-edit .special-main-title,
.page-actividades .special-main-title,
.page-publicaciones .special-main-title,
.page-recursos .special-main-title {
  display: block;
  font-size: 30px;
  padding-left: 0;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.page-user-edit .special-main-title {
  background: #99c89c;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  display: block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 15px 25px 10px !important;
  text-transform: uppercase;
}

#block-bean-bloque-enlace-recursos,
#block-bean-bloque-enlace-publicaciones {
  background: url('../img/link_nav_arrow.png') #94c4cc no-repeat 5% center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

#block-bean-bloque-enlace-recursos .field-item a,
#block-bean-bloque-enlace-publicaciones .field-item a {
  color: #FFF;
  display: block;
  padding: 11px 25px;
  line-height: 1;
  text-align: right;
  text-transform: uppercase;
}

.views-exposed-form .views-exposed-widget {
  padding: 0;
  width: 100%;
}

#cboxWrapper h2 a {
  color: #000;
  display: block;
  font-size: 30px;
  padding-bottom: 40px;
  text-align: center;
}

.node-type-resource-document .field-name-field-resource-document-file {
  padding: 3%;
}

.node-type-resource-document .field-name-field-resource-document-file .file > a {
  padding: 4% 1% !important;
}

.field-name-field-resource-embed-include,
.field-name-field-resource-link-include,
.field-name-field-resource-video-include,
.field-name-field-resource-audio-include,
.field-name-field-resource-document-include,
.node-type-resource-document .field-name-field-resource-document-file,
#cboxWrapper .field-name-field-resource-document-file {
  background: #6F6F6F;
  margin: 1% 5% 0;
  padding: 42px;
}

.node-type-resource-document .field-name-field-resource-document-file {
  margin: 0;
}

.field-name-field-resource-link-include .file > img,
.field-name-field-resource-document-include .file > img,
.field-name-field-resource-embed-include .file > img,
.field-name-field-resource-audio-include .file > img,
.field-name-field-resource-video-include .file > img,
.node-type-resource-document .field-name-field-resource-document-file .file > img,
#cboxWrapper .field-name-field-resource-document-file .file > img {
  display: none;
}

.field-name-field-resource-link-include .file > a,
.field-name-field-resource-embed-include .file > a,
.field-name-field-resource-document-include .file > a,
.field-name-field-resource-audio-include .file > a,
.field-name-field-resource-video-include .file > a,
#cboxWrapper .field-name-field-publish-file .file > a,
.node-type-resource-document .field-name-field-resource-document-file .file > a,
#cboxWrapper .field-name-field-resource-document-file .file > a {
  background: url('../img/bg_button.png') repeat-x #24a3b4;
  border-radius: 5px;
  color: #FFF;
  display: block;
  font-family: 'Arial';
  font-size: 23px;
  line-height: 1;
  margin: 0 auto;
  padding: 20px 47px;
  text-align: center;
  width: 50%;
}

.field-name-field-resource-link-include .file > a,
.field-name-field-resource-embed-include .file > a,
.field-name-field-resource-document-include .file > a,
.field-name-field-resource-audio-include .file > a,
.field-name-field-resource-video-include .file > a {
  margin: 0 auto 1%;
}
#cboxWrapper .node-publish .field-name-field-publish-image {
  float: left;
  margin: 0;
  width: 100%;
}

#cboxWrapper .node-publish img {
  display: block;
  margin: 0 auto;
  width: auto;
}

#cboxWrapper .node-publish .file img {
  display: none;
}

#cboxClose {
  background: url(../img/close_icon.png) no-repeat 0 0;
  height: 25px;
  top: 0;
  width: 25px;
}

#cboxClose:hover {
  background-position: 0 0;
}

.mediaelement-audio > div {
  height: 30px !important;
  margin: 0 18% !important;
  width: 386px !important;
}

.node-type-resource-document .field-name-field-resource-document-file .file > .counter-link {
  background: transparent;
  color: #24a3b4;
  margin: 0;
  left: 0;
  padding: 0 !important;
  position: relative;
  top: 9px;
  width: 10%;
}

.mejs-offscreen {
  display: none;
}

.mejs-container-fullscreen {
  z-index: 10000;
  }

/*-----------------------------------------------------------------------------
 *           NODE            
 *---------------------------------------------------------------------------*/
.page-node .field-name-field-publish-image {
  float: left;
  margin: 0 25px 15px 0;
}

.page-node .field-name-body p {
  font-family: 'Arial';
  font-size: 16px;
  line-height: 1.5;
}

.page-node .file-icon {
  display: none;
}

.page-node .main-title {
  line-height: 1.3;
}

.page-node .field-name-field-publish-file .file a {
  color: #000;
  font-size: 20px;
}

.page-node .field-name-field-publish-file .file a:hover {
  color: #d1da21;
  text-decoration: none; 
}

/*-----------------------------------------------------------------------------
 *           SEARCH            
 *---------------------------------------------------------------------------*/
.page-faq-page .main-title,
.page-search .main-title {
  background: transparent;
  color: #000;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  padding: 16px 0;
  text-transform: uppercase;
}

.faq-description, 
.page-search h2 {
  background: #99c89c;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding: 16px 20px 13px;
}

.search-results {
  border: 1px solid #99c89c;
  margin: 0;
  padding: 3% 30px;
}

.search-results ol.search-results li {
  margin-left: 3em;
}

.search-results .search-result {
  margin-left: 35px;
}

.search-result .title {
  line-height: 1;
  padding: 5px 0;
}

.search-result .title a {
  color: #000;
  font-size: 20px;
}

.search-result .search-snippet-info p {
  color: #4d4d4d;
  font-family: 'Arial';
  font-size: 16px;
}

.search-result .search-snippet-info {
  border-bottom: 1px dotted #808285;
  margin-left: -14px;
  padding: 0 0 15px;
}

.search-form {
  margin-top: 0;
}

.search-form #edit-basic label {
  color: #999999;
  display: block;
  font-size: 16px;
}

.search-form .criterion .form-type-textfield input {
  display: block;
  width: 100%;
}

.search-form #edit-basic input {
  border: 1px solid #808285;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 0.5%;
  padding: 7px;
  width: 89%;
}

.page-user-edit .form-submit,
.search-form #edit-basic .form-submit {
  background: url('../img/bg_button.png') repeat-x #24a3b4;
  border: 1px solid #24a3b4;
  border-radius: 5px;
  color: #FFF;
  font-family: 'Arial';
  font-size: 16px;
  height: auto;
  padding: 6px 0;
  width: 9.5%;
}

/*-----------------------------------------------------------------------------
 *           FAQ            
 *---------------------------------------------------------------------------*/
.faq-question-answer {
  background: #fcfcfc;
  padding: 20px 40px;
}

.faq-question-answer .faq-question {
  background: url('../img/faq_icon.png') no-repeat center left;
  padding-left: 40px;
}

.faq-question-answer .faq-question a {
  background: url('../img/faq_arrow.png') no-repeat center right;
  color: #000;
  display: block;
  font-size: 18px;
  padding-right: 25px;
}

.faq-question-answer .faq-qa-visible a {
  background: url('../img/faq_arrow_active.png') no-repeat center right;
}

.faq-answer {
  border-bottom: 1px dotted #b4b4b4;
  padding: 25px 40px;
}

.faq-answer p {
  font-family: 'Arial';
  font-size: 16px;
}

/*-----------------------------------------------------------------------------
 *           SITEMAP            
 *---------------------------------------------------------------------------*/
.site-map-front-page,
.page-sitemap h2 {
  display: none;
}

.page-sitemap .main-title {
  display: block;
}

#block-menu-menu-sitemap-menu,
#site-map {
  border: 1px solid #58585a;
}

#site-map .site-map-box {
  margin-bottom: 0;
}

#block-menu-menu-sitemap-menu .menu,
#site-map .site-map-box ul {
  padding-left: 0;
  margin-left: 0;
}

#block-menu-menu-sitemap-menu .menu a,
#site-map .site-map-box ul a {
  background: #f9f9f9;
  border-bottom: 3px solid #FFF;
  display: block;
  font-size: 20px;
  padding-bottom: 15px;
  padding-left: 3.5em;
  padding-top: 15px;
}

#block-menu-menu-sitemap-menu li,
#site-map li {
  list-style: none;
}

#block-menu-menu-sitemap-menu a,
#site-map a {
  color: #000;
}

#block-menu-menu-sitemap-menu .expanded ul {
  background: #FDFDFD;
  padding-left: 3%;
}

#block-menu-menu-sitemap-menu .expanded ul a {
  background: transparent !important;
}

/*-----------------------------------------------------------------------------
 *           ACTIVITIES            
 *---------------------------------------------------------------------------*/
.block-views .view-activities-views {
  background: #e6e6e6;
  border-bottom: 5px solid #a4a4a4;
  margin-bottom: 30px;
  padding: 20px 35px;
}

.node-type-activity .node,
.content-top .block-views .view-activities-views {
  background: #FFF;
  border: 1px solid #F26B45;
}

.node-type-activity .node {
  margin-bottom: 30px;
  padding: 20px 35px;
}

.block-views .view-activities-views .views-row {
  padding-bottom: 15px;
}

.block-views .view-activities-views .views-row h4 {
  font-size: 16px;
  padding: 9px 0 0 65px;
}

.block-views .view-activities-views .views-row h4 a {
  color: #000;
}

.block-views .view-activities-views .views-row p {
  padding: 0 0 0 65px;
}


.content-top .block-views .view-activities-views .views-row h4,
.content-top .block-views .view-activities-views .views-row p {
 padding: 0; 
}

/* BLOCK NEXT ACTIVITIES*/
.content-top .view-activities-views h4 a {
  color: #f26b45 !important; 
  font-size: 18px;
  font-weight: bold;
}

.content-top .view-activities-views p {
  font-family: 'Arial';
  font-size: 16px;
  text-align: left;
}

.next-activity-inner-container {
  margin-bottom: 20px;
  margin-right: 40px;
}

.next-activity-inner-container img {
  margin-bottom: 10px;
}

.next-activity-inner-container .date-container {
  background: #f2f2f2;
  border-radius: 5px 5px 0 0;
  border-top: 6px #e2001a solid;
  padding: 23px;
  width: 224px;
}

.node-type-activity .field-name-field-activity-date .date-display-single,
.next-activity-inner-container .date-display-single {
  color: #808080;
  display: block;  
  font-size: 25px !important;
  font-weight: bold;
  line-height: 0.9;
  text-align: center;
}

.node-type-activity .field-name-field-activity-date .date-display-single {
  margin: 0 16%;
}

#block-views-13344de5441c4d38952f38cb573d38f8 h3 {
  background: #b0b81c;
}

.node-type-activity .main-title,
#block-views-a1a0aa12cf8e7208cf774596c33303a5 h3,
#block-views-f1948c3660201af294027381d83212d4 h3,
#block-views-b4277a93b7be59469ed54c2ce52dc9bb h3 {
  background: #f26b45;
  border-radius: 5px 5px 0 0;
}

.node-type-activity .main-title {
  color: #FFF;
  font-size: 22px;
  padding: 13px 20px;
  text-transform: none;
}

#block-views-f1948c3660201af294027381d83212d4 h3 a,
#block-views-b4277a93b7be59469ed54c2ce52dc9bb h3 a {
  color: #FFF;
}

#block-views-b4277a93b7be59469ed54c2ce52dc9bb h4 {
  padding: 5px 0;
}

#block-views-b4277a93b7be59469ed54c2ce52dc9bb h4 a {
  color: #000;
  font-size: 17px;
}

#block-views-b4277a93b7be59469ed54c2ce52dc9bb p {
  font-size: 13px;
}

/* PAGE ACTIVITIES */
.page-actividades .main-title {
  background: #808080;
  border-radius: 8px 8px 0 0;
  color: #FFF;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding: 15px 40px;
}

.node-type-activity .inner-container .view-activities-views,
.page-actividades .inner-container .view-activities-views {
  background: #FFF; 
  border: 1px solid #808080;
  padding: 38px 30px 0;
}

.node-type-activity .inner-container .view-activities-views .views-row,
.page-actividades .inner-container .view-activities-views .views-row {
  margin-bottom: 50px;
}

.node-type-activity .inner-container .view-activities-views h4 a,
.page-actividades .inner-container .view-activities-views h4 a {
  color: #000;
  font-size: 20px;
}

.node-type-activity .inner-container .view-activities-views h4 a:hover,
.page-actividades .inner-container .view-activities-views h4 a:hover {
  color: #f26b45;
  text-decoration: none;
}

.date-inner-container {
  background: #f48464;
  margin-right: 15px;
  padding: 13px 18px;
}

.date-inner-container .date-display-single {
  color: #FFF;
  display: block;
  font-size: 43px;
  line-height: 1;
}

.date-inner-container .date-display-single:nth-of-type(2) {
  font-size: 26px;
}

.node-type-activity .field-name-field-activity-image {
  float: left;
  margin-bottom: 10px;
  margin-right: 40px;
}

.node-type-activity .field-name-field-activity-date {
  background: #f2f2f2;
  border-radius: 5px 5px 0 0;
  border-top: 6px #e2001a solid;
  clear: both;
  display: block;
  float: left;
  margin-right: 40px;
  padding: 23px;
  width: 224px;
}

/*-----------------------------------------------------------------------------
 *           FOOTER            
 *---------------------------------------------------------------------------*/
.footer {
  margin-bottom: 20px;
  margin-top: 40px;
}

.footer .region-footer {
  margin: 0 auto;
  width: 50%;
}

.footer #block-menu-menu-footer-menu {
  float: left;
  width: 70%;
}

.footer #block-menu-menu-footer-menu ul {
  margin: 0;
}

.footer #block-menu-menu-footer-menu li {
  border-right: 1px solid #000;
  float: left;
  list-style: none;
  width: 45%;
}

.footer #block-menu-menu-footer-menu li a {
  color: #000;
  display: block;
  font-family: 'Arial';
  padding: 2px 0;
  text-align: center;
}

.footer #block-search-form {
  float: left;
  width: 30%;
}

.footer #block-search-form form {
  position: relative;
  margin: 0;
}

.footer #block-search-form .form-text {
  border-radius: 15px;
  min-width: 0;
  padding: 1px;
  width: 100%;
}

.footer #edit-actions {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.footer #block-search-form .form-submit {
  background: url('../img/search_icon.png') no-repeat transparent center 5px;
  border: none !important;
  float: right;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 0;
  width: 35px;
}

/*-----------------------------------------------------------------------------
 *           CAPACITY BUILDING            
 *---------------------------------------------------------------------------*/
#block-menu-menu-cb-programs > .content ul {
  margin-bottom: 45px;
}

#block-menu-menu-cb-programs > .content ul,
#block-menu-menu-capacity-building > .content ul {
  margin-left: 0;
}

#block-menu-menu-capacity-building > .content li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 0.09%;
  width: 24.8%;
}

#block-menu-menu-capacity-building > .content li a {
  background: #653074; 
  color: #FFF;
  display: block;
  font-size: 18px;
  padding: 4.5%;
  text-align: center;
}

.page-programas .cb-program-link,
.page-cursos-practicos .cb-courses-link,
.page-capacitaciones .cb-capacity-link,
.page-especializaciones .cb-speciality-link {
  text-indent: -9999px;
  height: 7px;
  padding: 0 !important;
}

.cb-program-link a {
  background: #653074 !important; 
}

.cb-speciality-link {
  background: #f26b45 !important; 
}

.cb-capacity-link {
  background: #94c4cc !important;
}

.cb-courses-link {
  background: #b0b81c !important; 
}

/*-----------------------------------------------------------------------------
 *           SUB-MENUS            
 *---------------------------------------------------------------------------*/
#block-menu-menu-desarrollo-de-capacidades-, 
#block-menu-menu-cb-practical-courses,
#block-menu-menu-cb-speciality,
#block-menu-menu-cb-programs {
  margin-bottom: 40px;
}

#block-menu-menu-desarrollo-de-capacidades- > .content li, 
#block-menu-menu-cb-practical-courses > .content li,
#block-menu-menu-cb-speciality > .content li,
#block-menu-menu-cb-programs > .content li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 0.5%;
  position: relative;
  width: 49%;
}

#block-menu-menu-desarrollo-de-capacidades- > .content li a, 
#block-menu-menu-cb-practical-courses > .content li a,
#block-menu-menu-cb-speciality > .content li a,
#block-menu-menu-cb-programs > .content li a {
  color: #FFF;
  display: block;
  font-size: 20px;
  line-height: 1;
  padding: 2.5%;
  text-align: center;
  text-transform: uppercase;
}

#block-menu-menu-desarrollo-de-capacidades- > .content li span, 
#block-menu-menu-cb-practical-courses > .content li span,
#block-menu-menu-cb-speciality > .content li span,
#block-menu-menu-cb-programs > .content li span {
  bottom: -8px;
  display: block;
  height: 9px;
  left: 40.5%;
  position: absolute;
  width: 100px;
}

/* PROGRAMS */
#block-menu-menu-cb-programs > .content li a {
  background: #9b49b2; 
}

#block-menu-menu-cb-programs > .content li span {
  background: url('../img/bg_programs_menu_icon.png') no-repeat bottom center;
}

/* SPECIALITY */
#block-menu-menu-cb-speciality > .content li a {
  background: #f48464;
}

#block-menu-menu-cb-speciality > .content li span {
  background: url('../img/bg_speciality_menu_icon.png') no-repeat bottom center;
}

/* CAPACITY */
#block-menu-menu-desarrollo-de-capacidades- > .content li a {
  background: #bedbe0;
  color: #294f55;
}

#block-menu-menu-desarrollo-de-capacidades- > .content li span {
  background: url('../img/bg_capacity_menu_icon.png') no-repeat bottom center;
}

/* PRACTICAL COURSES */
#block-menu-menu-cb-practical-courses > .content li a {
  background: #d1d921;
  color: #6a6f11;
}

#block-menu-menu-cb-practical-courses > .content li span {
  background: url('../img/bg_courses_menu_icon.png') no-repeat bottom center;
}

.page-programas .view-chamilo-courses .views-row {
  border: 1px solid #a8a8aa;
  margin: 0.5% 2% 2.5%;
  padding: 1% 1% 3%;
  position: relative;
}

.page-programas .view-chamilo-courses .views-row h4 {
  color: #653074;
  font-size: 20px;
  font-weight: bold;
  padding: 1.6% 0% 0.3%;
}

.page-programas .view-chamilo-courses .views-row > p {
  color: #58585a;
  font-family: 'Arial';
  font-size: 16px;
}

.page-programas .view-chamilo-courses .views-row > div {
  background: #f9f9f9;
  margin: 0.5% 1% 0.5% 0;
  padding: 0.5% 1% 0.05%;
  width: 15.65%;
}

.page-programas .view-chamilo-courses .views-row > div em {
  color: #4d4c4e;
  font-size: 18px;
  font-weight: bold;
}

.page-programas .view-chamilo-courses .views-row > div p {
  color: #4d4d4d;
  font-family: 'Arial';
  font-size: 16px;
}

#ajax-link {
  bottom: 0;
  clear: both;
  left: 0;
  margin: 0 !important;
  padding: 0;
  position: absolute;
  width: auto !important;
}

#ajax-link a {
  background: #c799d5;
  color: #FFF;
  border-radius: 0 7px 0 0;
  display: block;
  font-size: 19px;
  line-height: 1;
  padding: 4% 50px;
}

.session-detail {
  padding: 0 !important;
}

/* POLL AND FORUM */
.block-poll .content,
.block-forum .content {
  background: whiteSmoke;
  margin-bottom: 5%;
  padding: 7%;
}

.block-forum .item-list ul {
  margin: 0;
}

.block-forum .item-list li {
  list-style: none;
}

.block-forum .item-list li a {
  border-bottom: 1px dotted #CCC;
  color: #707070;
  display: block;
  font-size: 16px;
  margin-bottom: 4%;
  padding: 4%;
}

.block .more-link a {
  background: #99C89C;
  border-radius: 5px;
  color: white;
  display: block;
  line-height: 1;
  margin: 10% auto 0;
  padding: 3%;
  text-align: center;
  width: 50%;
}

.block-poll .title {
  color: #99C89C;
  font-size: 16px;
  padding-bottom: 5%;
}

.block-poll .text {
  font-family: 'Arial';
}

.block-poll .percent {
  color: #99C89C;
}

.poll .vote-form .choices {
  width: 90%;
}

.poll .bar .foreground {
  background-color: #777;
}

.poll .form-submit {
  background: url('../img/bg_button.png') repeat-x #24a3b4;
  border: 1px solid #24a3b4;
  border-radius: 5px;
  color: #FFF;
  font-family: 'Arial';
  font-size: 16px;
  height: auto;
  padding: 3px 0;
  width: 50%;
  margin-top: 10%;
}

.block-poll ul.links {
  border-top: 1px dotted #CCC;
  display: block;
  margin: 1% 0 0;
  padding-top: 5%;
}

.block-poll .links li {
  list-style: none;
}

.block-poll .links a {
  color: #99C89C;
  display: block;
  font-size: 16px;
  line-height: 1;
  padding: 3% 0;
}

.page-poll .inner-container ul {
  margin: 0; 
}

.page-poll .inner-container li {
  color: #6E6E6E;
  display: block;
  font-family: Arial;
  font-size: 16px;
  list-style: none;
  margin-bottom: 1.5%;
}

.page-poll .inner-container li a {
  color: #99C89C;
  display: block;
  font-size: 20px;
}

.node-type-poll .poll .text {
  font-size: 20px;
}

.node-type-poll .poll .percent {
  font-family: 'Arial';
  font-size: 16px;
  margin-bottom: 2%;
}

.poll .total {
  font-size: 18px;
  margin-top: 3%;
  color: #99C89C;
}
